@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;500&family=Quicksand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgray: #274c5b;
    --white: hsl(0, 0%, 100%);
    --lightash: #7eb793;
    --lightpurple: #d4d4de;
    --gray: #525c60;
    --lightgray: #eff6f1;
}

a {
    text-decoration: none;
}

body {
    color: var(--darkgray);
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
}

/* Nabar Section Styling */
.nav-container {
    background-color: var(--white);
    color: var(--darkgray);
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3 {
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: var(--darkgray);
    font-size: 20px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
    display: block;
}

/* Contact Us Styling */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url('../Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.hero h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: var(--darkgray);
    text-align: center;
    font-weight: 800;
}

/* Contact Us Section Styling */
.contact-container {
    background-color: var(--white); 
    padding: 40px 0; 
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .image img {
    max-width: 100%; 
    height: auto; 
  }
  
  .info-text {
    text-align: center;
    margin-top: 20px;
  }
  
  .info-text h1 {
    font-size: 2rem; 
    color: var(--darkgray);
    margin: 10px 0;
  }
  
  .info-text p {
    font-size: 1rem;
    color: var(--darkgray); 
  }
  
  .contact-card {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
  }
  
  .card {
    flex: 1;
    padding: 10px;
    background-color: var(--white); 
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 5px; 
  }
  
  .card h4 {
    font-size: 1rem; 
    color: var(--darkgray); 
  }
  
  .card p {
    font-size: 0.9rem; 
    color: #777; 
  }
  
  .icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .icon span {
    margin: 0 5px; 
    border: 3px solid var(--lightgray);
    border-radius: 50%;
    padding: .3rem .7rem;
    background-color: rgb(250, 243, 243);
  }

  /* Location Section Styling */
.location-container {
    padding: 40px 0; 
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .location {
    display: flex;
    flex: 1;
    background-image: url('../Images/Background.png');
    background-color: var(--lightash);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  
  .location-card {
    background-color: var(--white); 
    border-radius: 1rem;
    padding: 40px;
    text-align: left;
    margin-left: auto;
    width: 40%;
  }
  
  .card-details h5 {
    font-size: 1.5rem; 
    color: var(--lightash); 
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: italic;
  }
  
  .card-details h1 {
    font-size: 2rem; 
    color: var(--darkgray);
    margin: 10px 0;
  }
  
  .card-details p {
    font-size: 1rem; 
    color: var(--darkgray); 
    margin: 10px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li .fa-solid {
    border: 3px solid var(--lightgray);
    border-radius: 50%;
    padding: .6rem .7rem;
    background-color: rgb(216, 203, 203);
  }
  
  ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
  }
  
  ul li span {
    margin-right: 10px;
  }
  
  ul li a {
    color: var(--darkgray); 
  }

  /* Contact Form Styling */
.contact-form {
    background-color: var(--white); 
    padding: 40px 0;
    /* max-width: 1200px;  */
    margin: 0 auto; 
    display: flex;
    justify-content: center;
  text-align: center;
  }
  
  .container {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    display: flex;
  justify-content: center;
  text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column; 
  }

  /* .row {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    width: 150%;
  } */
  
  .form-field {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1rem; 
    color: var(--darkgray); 
    font-weight: bold; 
    /* text-align: left; */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--lightash);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--lightgray);
    margin-top: 5px;
  }

  #message {
   padding: 100px;
  }
  /* #email, #company {
    width: 90%;
  } */
  
  input[type="button"] {
    background-color: var(--darkgray); 
    color: var(--white); 
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 30%;
    font-weight: bold;
    transition: var(--lightash) 0.3s; 
    margin: auto;
  }
  
  input[type="button"]:hover {
    background-color: var(--gray);
  }
  
  

/* Footer Section Styling */
footer {
    background-color: var(--lightgray);
    color: var(--darkgray);
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info {
    /* flex: 1; */
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 20px;
}

.detail h5 {
    font-size: 18px;
}

.detail p {
    font-size: 16px;
}

.social-icon {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.logo h3 {
    font-size: 24px;
}

.icon {
    margin-top: 20px;
}

.icon span {
    font-size: 24px;
    margin: 0 10px;
    color: var(--darkgray);
    cursor: pointer;
}

.copyright {
    flex: 1;
    text-align: center;
}

.copyright p {
    font-size: 14px;
}

.copyright span {
    font-weight: bold;
}

.copyright span a {
    color: var(--darkgray);
}

.pages a {
    color: var(--darkgray);
    line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .menu {
        display: none;
        margin: auto;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.show {
        display: flex;
        flex-direction: column;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
        z-index: 100;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .location-card {
        width: 50%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info,
    .social-icon,
    .copyright {
        margin-bottom: 30px;
        text-align: center;
    }

    .copyright {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .info-text h1 {
        font-size: 1.3rem;
        padding: 0 10px;
    }
    
    .location-card {
        width: 80%;
    }

    ul li a {
        font-size: .8rem;
    }

    input[type="button"] {
        width: 50%;
    }

    .social-icon p {
        line-height: 1.6rem;
    }

    .contact-card {
        flex-direction: column;
    }
}