@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;500&family=Quicksand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgray: #274c5b;
    --white: hsl(0, 0%, 100%);
    --lightash: #7eb793;
    --lightpurple: #d4d4de;
    --gray: #525c60;
    --lightgray: #eff6f1;
}

a {
    text-decoration: none;
}

body {
    color: var(--darkgray);
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
}

/* Nabar Section Styling */
.nav-container {
    background-color: var(--white);
    color: var(--darkgray);
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3 {
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--darkgray);
    font-size: 20px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
    display: block;
}

/* About Us Styling */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url('../Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}


.hero h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: var(--darkgray);
    text-align: center;
    font-weight: 800;
}

/* CSS for Products Section */
.products-container {
    background-color: #fafafa;
    padding: 40px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 4rem auto;
}

.products-container h5 {
    font-size: 1.2rem;
    color: var(--lightash);
    font-style: italic;
    font-family: "Quicksand", sans-serif;
}

.products-container h1 {
    font-size: 2.2rem;
    margin-top: 10px;
    color: var(--darkgray);
    text-transform: capitalize;
}

.product-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.info {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.details img {
    width: 50px;
    margin-top: 1.5rem;
}

.details h5 {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--darkgray);
    text-transform: capitalize;
}

.details p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--gray);
}

/*  Everyday Fresh & Clean Section Styling */
.extra-container {
    background-image: url('../Images/flower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    height: 60vh;
}

.extra-text {
    margin-top: 5rem;
}

.extra-container h5 {
    font-size: 1.5rem;
    color: var(--lightash);
    font-style: italic;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
}

.extra-container h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 10px;
    color: var(--darkgray);
}

.extra-container p {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--gray);
}

.extra-container img {
    width: 60px;
    margin-top: 20px;
}

/* Footer Section Styling */
footer {
    background-color: var(--lightgray);
    color: var(--darkgray);
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info {
    flex: 1;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 20px;
}

.detail h5 {
    font-size: 18px;
}

.detail p {
    font-size: 16px;
}

.social-icon {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.logo h3 {
    font-size: 24px;
}

.icon {
    margin-top: 20px;
}

.icon span {
    font-size: 24px;
    margin: 0 10px;
    color: var(--darkgray);
    cursor: pointer;
}

.copyright {
    flex: 1;
    text-align: center;
}

.copyright p {
    font-size: 14px;
}

.copyright span {
    font-weight: bold;
}

.copyright span a {
    color: var(--darkgray);
}

.pages a {
    color: var(--darkgray);
    line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .menu {
        display: none;
        margin: auto;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--white);
        z-index: 1;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.show {
        display: flex;
        flex-direction: column;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
        z-index: 100;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .extra-text {
        margin-top: 2rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info,
    .social-icon,
    .copyright {
        margin-bottom: 30px;
        text-align: center;
    }

    .copyright {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .products-container h1 {
        font-size: 1.7rem;
    }

    .pork img {
        margin: 0;
        width: 80%;
        border-radius: .5rem;
    }

    .extra-container {
        height: 100vh;
    }

    .extra-container h1 {
        font-size: 1.7rem;
    }

    .extra-container p {
        padding: 0 .6rem;
    }

    .social-icon p {
        line-height: 1.6rem;
    }
}